 <nav class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li>
      <a routerLink="/Home" routerLinkActive="active">
        <i class="fa fa-tachometer-alt"></i>
        Tableau de bord
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-personel" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Personel
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-affectation" routerLinkActive="active">
        <i class="fa fa-list"></i>
       Affectations
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-produit" routerLinkActive="active">
        <i class="fa fa-book"></i>
        Produits
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-reparation" routerLinkActive="active">
        <i class="fa fa-building"></i>
        Reparations
      </a>
    </li>
      <li>
      <a routerLink="/admin/list-facture" routerLinkActive="active">
        <i class="fa fa-clipboard"></i>
        Facture
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-facturereparation" routerLinkActive="active">
        <i class="fa fa-book"></i>
       Facture de reparation
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-departement" routerLinkActive="active">
        <i class="fa fa-bookmark"></i>
        Departements
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-bureau" routerLinkActive="active">
        <i class="fa fa-clipboard"></i>
        Bureaus
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-demande" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Demandes
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-categorie" routerLinkActive="active">
        <i class="fa fa-certificate"></i>
      Categories
      </a>
    </li>
 <!--    <li>
      <a routerLink="/admin/list-fournisseur" routerLinkActive="active">
        <i class="fa fa-book"></i>
        Fournisseurs
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-societe" routerLinkActive="active">
        <i class="fa fa-address-book"></i>
     Societes
      </a>
    </li>
    <li>
      <a routerLink="/admin/list-contrat" routerLinkActive="active">
        <i class="fa fa-address-book"></i>
     Contrat
      </a>
    </li>
     <li>
      <a routerLink="/admin/list-avarie" routerLinkActive="active">
        <i class=""></i>
       Hors service
      </a>
    </li>			-->

     <li>
      <a routerLink="/admin/listuser" routerLinkActive="active">
        <i class="id-icon fa fa-lock"></i>
        Users
      </a>
    </li>
     <li>
      <a routerLink="/admin/lisrole" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Role
      </a>
    </li>

    <li>
      <a routerLink="/maj" routerLinkActive="active">
        <i class="fa fa-building"></i>
        Mise à jour
      </a>
    </li>
  </ul>
</nav>
